name: Deploy Express App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/express_app_demo
            echo "Pulling latest code..."
            git pull origin main

            echo "Installing dependencies..."
            npm install

            echo "Updating environment variables..."
            echo "PORT=3000" > .env
            echo "MESSAGE=Hello Ammar, this app was updated from GitHub Actions pipeline!" >> .env

            echo "Restarting PM2..."
            pm2 restart all --update-env || pm2 start server.js --name "express_app_demo"
            pm2 save
